# npm and node
/node_modules
node_modules

# build
dist
dist/

# env vars
*env*

# vite cache
.vite/

# angular cache
.angular/

# mac files
.DS_Store
*DS_Store

# nx
.nx/

# server
packages/payment-service/src/server
