/* Reset styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* General styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  justify-content: center;
  line-height: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure body fills the entire viewport height */
}

h1 {
  font-size: 4vw; /* Make h1 font size responsive */
  background: linear-gradient(90deg, fuchsia, turquoise);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
  line-height: 1.1;
}

h2 {
  font-size: 3vw; /* Make h2 font size responsive */
  background: linear-gradient(90deg, fuchsia, turquoise);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-size: 2.5vw; /* Make h3 font size responsive */
  background: linear-gradient(90deg, fuchsia, turquoise);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Main content */

.mainWrapper {
  max-width: 90vh;
  position: relative;
  z-index: 1;
  top: 50px;
}

.main {
  width: 100%;
  display: flex;
  flex: 1;
  padding: 0 20px 200px 20px;
  justify-content: center;
}

/* Header */
.header {
  width: 100%;
  background-color: #000d1d;
  height: 50px;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: fixed;
  top: 0;
}
.headerWrapper {
  max-width: 90vh;
  display: flex;
  align-items: center;
  padding: 0 16px;
  top: 0;
  width: 100%;
}

.topNav {
  list-style-type: none;
  display: flex;
  margin-top: 5px;
}

/* Shop wrapper grid */
.shop-wrapper {
  display: grid;
  gap: 16px;
  padding: 16px;
}

@media (min-width: 1024px) {
  .shop-wrapper {
    grid-template-columns: 3fr 1fr;
  }
}

@media (min-width: 512px) and (max-width: 1023px) {
  .shop-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 511px) {
  .shop-wrapper {
    grid-template-columns: 1fr;
  }
}

/* Footer */
.footer {
  background-color: #001736; /* Dark grayish blue */
  color: white;
  text-align: center;
  padding: 16px;
  height: 200px;
  width: 100%;
  margin-top: auto; /* Always push footer to the bottom */
}

/* Links */
a {
  color: fuchsia;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 89, 185);
  text-decoration: underline;
}

/* Menu container */

@media (max-width: 512px) {
  h1 {
    font-size: 8vw; /* Adjust font size for very small screens */
  }

  h2 {
    font-size: 6vw; /* Adjust h2 font size for smaller screens */
  }

  h3 {
    font-size: 5vw; /* Adjust h3 font size for smaller screens */
  }
}

/* Header icon links */
.header a.icon-link {
  margin-right: 16px; /* Space between the icons */
  color: white; /* Default color for the icons */
  font-size: 24px; /* Icon size */
  transition: color 0.3s ease; /* Smooth transition for color change */
  text-decoration: none; /* Remove underline from links */
}

/* Hover effect */
.header a.icon-link:hover {
  color: fuchsia; /* Change to fuchsia on hover */
}

fragment-outlet {
  border: 5px dotted transparent;
  border-radius: 20px;
}

/* add borders */
body.fragment-border fragment-outlet {
  border-color: rgb(65, 155, 234);
}

.toggle-pill {
  width: 50px;
  height: 24px;
  background-color: #ddd;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

.toggle-pill.active {
  background: #419bea;
}

.toggle-knob {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.toggle-pill.active .toggle-knob {
  transform: translateX(26px);
}

.tiny-text {
  font-size: small;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  padding-right: 4px;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}
