.cart-display {
  border: 1px solid #9bd5ff;
  padding: 5px 10px;
}

.btn.zoom {
  transform: scale(1.2);
  animation: zoomOut 0.2s forwards;
}


@keyframes zoomOut {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.checkout-content {
  display: flex;
  align-items: center;
}

.cart-icon {
  position: relative;
  margin-right: 10px;
  background-color: #cbe4f6;
  border-radius: 50%;
  padding: 10px;
  color: #2c3e50;
  font-weight: bold;
  width: 20px;
  margin-left: 10px;
}

.cart-icon-number {
  font-size: 16px;
}
