.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
  position: relative;
  width: 100%;
  height: 150px;
  background: #160116;
  overflow: hidden;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0.7;
  width: 100%;
  background: url('../../../assets/images/webfragmentssplash.png') center/cover no-repeat;
}

.banner h1, .banner p {
  margin: 0;
  z-index: 1;
  position: relative;
  text-align: right;
  color: azure;
}

.banner h1 {
  font-size: 3rem;
}

.banner p {
  font-size: 1.5rem;
}


