
.product-card {
    text-align: center;
}
.product-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.product-info {
    padding: 1rem 0;
}
.price {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--primary-color);
    margin: 0.5rem 0;
}

/* .jskldfjd {
  background: url('../../../assets/images/product1.png') center/cover no-repeat;
}
 */
